<h2>Top 5 closest Supermarkets:</h2>
<table>
    <tr>
        <th>Name
        </th>
        <th>
            Address
        </th>
        <th>Distance
        </th>
        <th>Action
        </th>
    </tr>
    <tr *ngFor="let location of locations">
        <td>
            {{location.name}}
        </td>
        <td>
            {{location.address}}
        </td>
        <td>
            <span> {{location.distance}}Km</span>
        </td>
        <td>
            <button class="add-marker-btn btn" (click)="addMarker(location,$event)">
                {{action}}</button>
        </td>
    </tr>
</table>

<h1>Best Supermarket spread near you:</h1>
{{bestSupermarket}}